html {
    background-color: blanchedalmond;
    font-size: 1.1em;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.heading {
    font-size: 2rem;
    line-height: 0.75;
    letter-spacing: -1.5px;
}

.copy {
    font-size: 1rem;
    line-height: 1.4;
    word-spacing: 10px;
}

.helper-text {
    font-size: .8rem;
}